body {
  background-color: rgb(214, 202, 202);
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.photo-card {
  width: 200px;
  height: 150px;
  box-shadow: 10px 5px 5px gray;
}
.list-item {
  list-style: none;

  padding: 5px;
}
